#poembox{
	background-color: white;
	border: 5px solid black;
	margin: 10px;
	height: 30%;
  	width: 50%;
  	line-height: 1.5em;
  	word-spacing: 0.2em;
  	overflow: hidden;
}

.font1{
	font-style: 
}

.font2{
	font-style: 
}

.font3{
	font-style: 
}